<div class="container">
  <div class="panel panel-transparent">
    <div class="panel-heading">
      <div class="panel-title">项目管理</div>
    </div>
    <ul class="nav nav-tabs nav-tabs-simple nav-tabs-left bg-white">
      <li class="active">
        <a href="#">全部</a>
      </li>
      <li>
        <a href="#">已审核</a>
      </li>
      <li>
        <a href="#">未审核</a>
      </li>
    </ul>
    <div class="tab-content bg-white">
      <div class="tab-pane posts active">
      </div>
    </div>
  </div>
</div>
