<div class="container">
  <div class="panel panel-transparent">
    <div class="panel-heading">
      <div class="panel-title">用户管理</div>
    </div>
    <div class="users bg-white">
      <div class="items">
        <div class="item clearfix" ng-repeat="user in users">
          <a class="avatar" target="_blank" ng-href="/@{{user.name}}"><img ng-src="{{user.avatar}}&s=50"></a>
          <div class="info">
            <p class="name">{{user.name}}<span>{{user.nickname}}</span></p>
            <p class="email">{{user.email}}</p>
          </div>
          <ul class="reactions">
            <li ng-if="user.provider"><a href ng-click="provider(user)" tooltip-append-to-body="true" tooltip="取消发布项目权限"><span class="ion-ios-flame"></span></a></li>
            <li ng-if="!user.provider"><a href ng-click="provider(user)" tooltip-append-to-body="true" tooltip="添加发布项目权限"><span class="ion-ios-flame-outline"></span></a></li>
            <li ng-if="user.administrate"><a href ng-click="administrate(user)" tooltip-append-to-body="true" tooltip="取消管理员权限"><span class="ion-ios-gear"></span></a></li>
            <li ng-if="!user.administrate"><a href ng-click="administrate(user)" tooltip-append-to-body="true" tooltip="添加管理员权限"><span class="ion-ios-gear-outline"></span></a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
