<form class="form-comment" name="form" ng-submit="submit()" novalidate>
  <div class="popover comment-popover top" ng-if="parent">
    <div class="arrow"></div>
    <div class="popover-content">
      回复 <a target="_black" ui-sref="default.user.votes({name: parent.user.name})">{{parent.user.name}}</a> 的话题
      <a class="cancel" href="#" ng-click="cancel()">取消</a>
      <blockquote>{{parent.content}}</blockquote>
    </div>
  </div>
  <button class="btn btn-default" type="submit">提交</button>
  <div class="form-group form-group-default" ng-class="{'has-error': form.$submitted && form.content.$error.required}">
    <div class="controls">
      <textarea class="form-control" name="content" ng-model="comment.content" placeholder="参与讨论" rows="3" autocomplete="off" textarea-auto-height required></textarea>
    </div>
  </div>
</form>