<div class="project-item">
  <project-upvote project="project"></project-upvote>
  <user-avatar class="user-avatar" user="project.user" s="30"></user-avatar>
  <div class="info">
    <h4 class="title">
      <a target="_blank" href="/projects/{{project.id}}/link">{{project.name | capitalize}}</a>
      <div class="languages" ng-if="project.languages.length">
        <span ng-repeat="language in project.languages">#{{language}}</span>
      </div>
    </h4>
    <p class="description">{{project.description}}</p>
  </div>
</div>
