@import '../../components/bootstrap/less/variables';
@import '../../components/ionicons/less/_ionicons-variables';

@open-sans-path: '../fonts';
@ionicons-font-path: @open-sans-path;

@body-bg: #fafafa;
@color-default: #40d47e;

@font-family-base: "Open Sans",Arial,"Hiragino Sans GB","Microsoft YaHei","微软雅黑","STHeiti","WenQuanYi Micro Hei",SimSun,sans-serif;
@link-hover-decoration: none;

// Index
@index-1: 100;
@index-2: 200;
@index-3: 300;
@index-4: 400;
@index-5: 500;
@index-6: 600;
@index-7: 700;
@index-8: 800;
@index-9: 900;
@index-99: 9900;

// Color
@color-success: #47b5ab;
@color-complete: #69b6f3;
@color-primary: #9c78c5;
@color-warning: #f9dc6b;
@color-danger: #eb7374;
@color-info: #4d6286;

@color-white: #fff;
@color-black: #000;

// Navbar
@navbar-height: 60px;

//Mixing Color varriable for creating both light and dark colors
@mix-percentage-dark: 81%;
@mix-percentage-darker: 60%;
@mix-percentage-light: 80%;
@mix-percentage-lighter: 20%;

//Lighter colors
@color-success-light: mix(@color-success, @color-white, @mix-percentage-light);
@color-success-lighter: mix(@color-success, @color-white, @mix-percentage-lighter);

@color-complete-light: mix(@color-complete, @color-white, @mix-percentage-light);
@color-complete-lighter: mix(@color-complete, @color-white, @mix-percentage-lighter);

@color-primary-light: mix(@color-primary, @color-white, @mix-percentage-light);
@color-primary-lighter: mix(@color-primary, @color-white, @mix-percentage-lighter);

@color-warning-light: mix(@color-warning, @color-white, @mix-percentage-light);
@color-warning-lighter: mix(@color-warning, @color-white, @mix-percentage-lighter);

@color-danger-light: mix(@color-danger, @color-white, @mix-percentage-light);
@color-danger-lighter: mix(@color-danger, @color-white, @mix-percentage-lighter);

@color-info-light: mix(@color-info, @color-white, @mix-percentage-light);
@color-info-lighter: mix(@color-info, @color-white, @mix-percentage-lighter);

//Darker colors
@color-success-dark: mix(@color-success, @color-black, @mix-percentage-dark);
@color-success-darker: mix(@color-success, @color-black, @mix-percentage-darker);

@color-complete-dark: mix(@color-complete, @color-black, @mix-percentage-dark);
@color-complete-darker: mix(@color-complete, @color-black, @mix-percentage-darker);

@color-primary-dark: mix(@color-primary, @color-black, @mix-percentage-dark);
@color-primary-darker: mix(@color-primary, @color-black, @mix-percentage-darker);

@color-warning-dark: mix(@color-warning, @color-black, @mix-percentage-dark);
@color-warning-darker: mix(@color-warning, @color-black, @mix-percentage-darker);

@color-danger-dark: mix(@color-danger, @color-black, @mix-percentage-dark);
@color-danger-darker: mix(@color-danger, @color-black, @mix-percentage-darker);

@color-info-dark: mix(@color-info, @color-black, @mix-percentage-dark);
@color-info-darker: mix(@color-info, @color-black, @mix-percentage-darker);

// Inverted navbar
// Reset inverted navbar basics
@navbar-inverse-color: lighten(@gray-light, 15%);
@navbar-inverse-bg: #fff;
@navbar-inverse-border: darken(@navbar-inverse-bg, 10%);

// Inverted navbar links
@navbar-inverse-link-color: #999;
@navbar-inverse-link-hover-color: darken(@navbar-inverse-link-color, 20%);
@navbar-inverse-link-hover-bg: transparent;
@navbar-inverse-link-active-color: @navbar-inverse-link-hover-color;
@navbar-inverse-link-active-bg: transparent;
@navbar-inverse-link-disabled-color: #ccc;
@navbar-inverse-link-disabled-bg: transparent;

// Inverted navbar brand label
@navbar-inverse-brand-color: @color-default;
@navbar-inverse-brand-hover-color: darken(@navbar-inverse-brand-color, 10%);
@navbar-inverse-brand-hover-bg: transparent;

// Inverted navbar toggle
@navbar-inverse-toggle-hover-bg: #eee;
@navbar-inverse-toggle-icon-bar-bg: @navbar-inverse-link-hover-color;
@navbar-inverse-toggle-border-color: @navbar-inverse-link-hover-color;
