@keyframes animGenie {
  0% {
    .opacity(0);
    transform: translate3d(0,calc(200% + 30px),0) scale3d(0,1,1);
    animation-timing-function: ease-in;
  }

  40% {
    .opacity(0.5);
    transform: translate3d(0,0,0) scale3d(0.02,1.1,1);
    animation-timing-function: ease-out;
  }

  70% {
    .opacity(0.6);
    transform: translate3d(0,-40px,0) scale3d(0.8,1.1,1);
  }

  100% {
    .opacity(1);
    transform: translate3d(0,0,0) scale3d(1,1,1);
  }
}


.notification-wrapper {
  position: fixed;
  z-index: 9999;

  &[data-position$='-left'] {
    left: 30px;
  }

  &[data-position$='-right'] {
    right: 20px;
  }

  &[data-position^='top-'] {
    top: 61px;
  }

  &[data-position^='bottom-'] {
    bottom: 0;
  }

  &[data-position='top'] {
    top: 0;
    left: 0;
    right: 0;
  }

  &[data-position='bottom'] {
    bottom: 0;
    left: 0;
    right: 0;
  }

  .alert {
    border: none;
    padding: 18px 30px;
    max-width: 500px;
    max-height: 250px;
    overflow: hidden;
    box-shadow: 0 6px 4px -3px rgba(0,0,0,.2);
    border-radius: 100px;
    transform-origin: 50% 0%;
    animation-name: animGenie;
    animation-duration: 0.4s;
  }

  .close {
    margin-left: 6px;
  }
}
